body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

p{
    margin: 0px;
}

img{
    height: auto;
    width: 400px;
    border-radius: 10px;
}

button{
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 5px 25px;
    color: #F9FAF8;
}

.head{
     background: #1F2937;
}

.header{
    display: flex;
    justify-content: space-around;
}

.logo{
    font-size: small;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    text-decoration: none;
    align-self: center;
}

.content{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: space-evenly;

}

.heroheader{
    display: flex;
    padding: 75px 0px;
    justify-content: center;
    gap: 20px;
}

.heroheader .main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.heroheader .subtext{
    text-align: left;
    font-size: 18px;
    color: #e5e7eb;
}

.center .header{
    padding: 50px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images{
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    padding-bottom: 80px;
}

.images .image-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.images .image-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.images .image-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.images .image-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.images p{
    color: lightslategray;
}

.images .image-1 img{
   width: 200px;
   height: auto;
   padding: 20px 0px;
   border: 5px  solid  #3882f6;
}

.images .image-2 img{
    width: 200px;
    height: auto;
    border: 5px solid #3882f6;
}

.images .image-3 img{
    width: 200px;
    height: auto;
    border: 5px solid #3882f6;
}

.images .image-4 img{
    width: 200px;
    height: auto;
    padding: 20px 0px;
    border: 5px solid #3882f6;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 10px;
    height: 400px;
    background: #E5E7EB;
}

.quote .words{
    font-size: 36px;
    font-style: italic;
    width: 900px;
}

.quote .author{
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    width: 750px;
}

.calltoaction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
}

.cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 900px;
    height: 100px;
    background: #3882f6;
}

.cta .call{
    color: #E5E7EB;
    align-self: center;
}

.ctamain{
    font-size: large;
    font-weight: bold;
}

.calltoaction .cta button{
    border: 2px solid #E5E7EB;
    margin: 0px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 80px;
}

.copyright{
    color: #e5e7eb;
}



